.aboutContainer {
  padding: 2rem 4rem;
  border-radius: 8px;
}

.aboutInfo {
  color: var(--font-color-3);
  line-height: 24px;
  margin-bottom: 1rem;
}

.aboutBold {
  color: var(--font-color-2);
  cursor: pointer;
}