.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: hidden;
  min-height: 1180px;
  margin-top: 5rem;
  margin-left: 12rem;
  margin-right: 12rem;
}

.left {
  max-width: 45%;
  min-width: 360px;
  max-height: 820px;
}

.right {
  max-width: 45%;
  min-width: 360px;
  max-height: 800px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-left: 1px solid var(--component-color-2);
}
.right::-webkit-scrollbar {
  display: none;
}

.sectional {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 1rem;
  padding: 0 2rem;
}

.sb {
  flex-grow: 1;
  height: 0;
  border-bottom: 1px solid var(--component-color-2);
}

.pageWarning {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warningContent {
  text-align: center;
  font-size: 14px;
  padding: 4px 10px;
  background-color: var(--warning-red);
  border-radius: 16px;
}

@media (max-width: 900px) {
  .main {
    overflow-y: hidden;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .right {
    border-left: none;
    max-height: none;
  }
}